.HeaderLable {
  font-size: 28px;
  color: #202945;
  margin-bottom: 20px;
}

.btns {
  width: 15%;
  height: 28px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.refIcon {
  display: flex;
  background: #202945;
  color: "#fff";
  cursor: pointer;
  height: 30px;
  width: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
}
