.HeaderLable {
  font-size: 28px;
  color: #202945;
  margin-bottom: 20px;
}

.noRecords {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #4d546a;
}
